language: node_js

node_js:
  - "7"

addons:
  apt:
    packages:
      - xvfb

install:
  - npm install

before_script:
  - export DISPLAY=':99.0'
  - sh -e ./xvfb start
  - sleep 3

script:
  - npm test
